body {
    background-color: black;
}

p {
    color:red;
    font-size:20px;
}
.area1{
    display: block;
    width: 500px;
    height: 200px;
    background-color: red;
}
.area2{
    display: block;
    width: 500px;
    height: 200px;
    background-color: blue;
}
#sample1{
    display:inline-block;
    width:150px;
    height: 150px;
    background-color: white;
}
#sample2{
    display:inline-block;
    width:100px;
    height: 100px;
    background-color: gray;
}
